@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

nav {
    background-color: rgb(24, 208, 241);
    height: 80px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 50px 0px 10px;
    z-index: 1;
    justify-content: space-between;
}

nav .logo span {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

nav .logo {
    margin-left: 50px;
    font-size: 35px;
    padding: 3px;
    color: #fc3050;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0px 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: rgb(24, 208, 241);
    background: #fff;
    border-radius: 5px;
}

nav .menu-btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}


/* link coding*/

.linksection {
    background-color: #111;
    position: relative;
    width: 100%;
    top: 80px;
    padding: 35px;
}

.linksection .text1 {
    color: #fff;
    margin-left: 56px;
    margin-top: 40px;
    font-size: 35px;
}

.linksection .text2 {
    color: #fc3085;
    margin-left: 56px;
    font-size: 65px;
    font-weight: 600;
    margin-top: 10px;
}

.linksection .text3 {
    color: #fff;
    margin-left: 56px;
    margin-top: 10px;
    font-size: 35px;
}

.linksection .hire-btn a {
    text-decoration: none;
    color: white;
}

.linksection .hire-btn a:hover {
    color: rgb(24, 208, 241);
}

.linksection .hire-btn {
    background-color: rgb(24, 208, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 55px;
    padding: 5px;
    font-size: 22px;
    border-radius: 6px;
    margin-left: 70px;
    margin-top: 30px;
    color: #fff;
}

.linksection .hire-btn:hover {
    background: #111;
    border: 2px solid rgb(30, 79, 122);
}

.icon {
    height: 70px;
    margin-left: 80px;
    margin-top: 79px;
    margin-bottom: 50px;
}

.icon a {
    display: inline-block;
    font-size: 48px;
    color: #fff;
    margin-left: 40px;
}

.icon a:hover {
    color: red;
}

.about {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box1 {
    color: black;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
    align-items: center;
    font-size: 35px;
}


/* .box2 {
    width: 45%;
    background-color: #fc3050;
    display: none;
} */

.box2 {
    width: 45%;
    justify-content: center;
    display: flex;
}

.box3 {
    width: 55%;
    /* background-color: aqua; */
}

.box3 p {
    font-size: 18px;
    margin-left: 50px;
}

.text {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.box2 img {
    width: 350px;
    height: 400px;
    margin-bottom: 20px;
}

.cv {
    background-color: rgb(24, 208, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 55px;
    padding: 5px;
    font-size: 22px;
    border-radius: 6px;
    margin-left: 50px;
    margin-top: 20px;
    color: #fff;
}

.cv a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.cv:hover {
    background-color: white;
    border: 2px solid black;
}

.cv a:hover {
    color: rgb(24, 208, 241);
}

.experience {
    background-color: black;
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#team {
    margin-top: 75px;
}

#box1 {
    color: white;
    text-decoration: underline;
}

.exp1 {
    width: calc(30% - 18px);
    background-color: rgb(39, 33, 33);
    border: 3px solid black;
    margin: 10px;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 50px 25px;
    margin-bottom: 40px;
}

.exp1:hover {
    background-color: rgb(24, 208, 241);
    cursor: pointer;
}

.box p {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 500;
}

.text {
    margin-top: 20px;
    font-size: 33px;
}

.expe1 img {
    text-align: center;
}

.exp1 p {
    font-size: 18px;
    padding: 5px;
}

.deepak {
    width: 100px;
    height: 100px;
}

.teamsimage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.last {
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -40px;
    /* background-color: red; */
}

#me1 {
    margin-top: -10px;
}

#box2 {
    margin-top: -12px;
}

.address {
    margin-left: 10px;
    margin-top: 10px;
    width: 50%;
}

.fas {
    color: aqua;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 60px;
}

.na {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    top: 10px;
    margin-top: 30px;
    position: relative;
}

.na1 {
    font-size: 14px;
    font-weight: 300;
}

.add {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 60px;
}

.contact {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
}

.myname {
    height: 40px;
    border: 1px solid rgb(224, 207, 207);
    border-radius: 5px;
    width: 39%;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
}

.message {
    margin-top: 40px;
    margin-left: 25px;
}

.subject {
    height: 40px;
    font-size: 20px;
    width: 82%;
    border: 1px solid rgb(224, 207, 207);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 15px;
}

.message1 {
    height: 90px;
    width: 82%;
    font-size: 20px;
    border: 1px solid rgb(224, 207, 207);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 15px;
}

.btn:hover {
    background-color: white;
    color: rgb(24, 208, 241);
}

.btn {
    background-color: rgb(24, 208, 241);
    border: 2px solid rgb(24, 208, 241);
    border-radius: 5px;
    margin-top: 16px;
    margin-left: 24px;
    height: 49px;
    font-size: 16px;
    padding: 3px;
    width: 151px;
    cursor: pointer;
    color: white;
}

 ::placeholder {
    font-size: 18px;
    display: inline-block;
}

.copyright {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #111;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skbox1 {
    width: 45%;
    text-align: justify;
    font-size: 18px;
}

.skbox1 p {
    margin-left: 40px;
    padding: 14px;
}

.Read-More {
    background-color: rgb(24, 208, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 55px;
    padding: 5px;
    font-size: 22px;
    border-radius: 6px;
    margin-left: 70px;
    margin-top: 30px;
    color: #fff;
}

.Read-More:hover {
    background: white;
    border: 2px solid rgb(67, 75, 163);
}

.Read-More a:Hover {
    background: white;
}

.Read-More a {
    text-decoration: none;
    color: black;
}

.My {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.copyright a {
    text-decoration: none;
    color: rgb(24, 208, 241);
    margin-left: 5px;
    margin-right: 5px;
}

.copyright a:hover {
    text-decoration: underline;
}

.skbox2 {
    width: 55%;
    /* background-color: purple; */
}

.line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: purple; */
    margin-top: 6px;
}

.line span {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    font-weight: 600;
    font-size: 19px;
}

.bar {
    height: 5px;
    width: 83%;
    margin-left: 60px;
    background-color: lightgray;
}

.html {
    background-color: rgb(24, 208, 241);
    width: 90%;
    height: 5px;
}

.css {
    background-color: rgb(24, 208, 241);
    width: 70%;
    height: 5px;
}

.java {
    background-color: rgb(24, 208, 241);
    width: 50%;
    height: 5px;
}

.git {
    background-color: rgb(24, 208, 241);
    width: 75%;
    height: 5px;
}

.github {
    background-color: rgb(24, 208, 241);
    width: 75%;
    height: 5px;
}

.c {
    background-color: rgb(24, 208, 241);
    width: 90%;
    height: 5px;
}

.sql {
    background-color: rgb(24, 208, 241);
    width: 70%;
    height: 5px;
}

@media (max-width: 940px) {
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    #click:checked~ul {
        left: 0px;
    }
    nav ul li {
        margin: 50px 0px;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav .menu-btn {
        color: black;
        font-weight: 600;
        display: block;
    }
    nav ul li a:hover {
        color: rgb(24, 208, 241);
        background: #fff;
        border-radius: 5px;
    }
}

@media (max-width: 600px) {
    .icon a {
        font-size: 35px;
        margin-left: 20px;
    }
    .icon {
        margin-top: 30px;
        margin-left: 10px;
    }
    .linksection .text1,
    .linksection .text2,
    .linksection .text3,
    .linksection .hire-btn {
        margin-left: 20px;
    }
    .linksection .text1 {
        font-size: 30px;
    }
    .linksection .text2 {
        font-size: 50px;
    }
    .linksection .text3 {
        font-size: 30px;
    }
}

@media (max-width:960px) {
    .box3 {
        width: 100%;
        margin-top: 50px;
    }
    .box2 img {
        width: 90%;
        height: 100%;
    }
    .box2 {
        margin-top: -30px;
    }
    .cv {
        margin-bottom: 30px;
    }
    .experience {
        justify-content: start;
    }
}

@media (max-width:940px) {
    .exp1 {
        width: calc(49% - 18px);
    }
}

@media (max-width:650px) {
    .exp1 {
        width: 100%;
    }
}

@media (max-width:970px) {
    .address {
        width: 100%;
    }
    .myname {
        width: 44%;
    }
    .message1 {
        width: 91%;
    }
    .subject {
        width: 91%;
    }
    .contact {
        width: 100%;
    }
}

@media (max-width:500px) {
    .myname {
        width: 90%;
    }
    .message {
        margin-left: -20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

@media (max-width:940px) {
    .copyright {
        top: 390px;
    }
    .skbox1 {
        width: 100%;
    }
}

@media (max-width:940px) {
    .skbox2 {
        width: 100%;
    }
}

@media (max-width:500px) {
    .line span {
        margin-right: 6px;
    }
    .copyright {
        font-size: 14px;
    }
    .na {
        margin-left: 13px;
    }
    .skbox2 {
        margin-right: 50px;
    }
    .skbox1 p,
    .text {
        margin-right: 50px;
    }
    .box3 p {
        margin-right: 30px;
    }
}
